.hidden > div:nth-child(2) {
    display: none;
}

.flex {
    display: flex;
}

.fill {
    width: 100%;
}

.no-point {
    list-style: none;
}

.index-img {
    object-fit: contain;
    max-height: 200px;
}